body {
  background-color: #EDE7DB;
  scroll-behavior: smooth;
}




#informations {
  display: flex;
  flex-direction: column;
  text-align: left;
}



.img-fluid {
  width: 70%;
  height: auto;
}











