body {
  background-color: #EDE7DB;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}


/* NavBar CSS */
.nav-link-custom {
  color: #ff3c00;
  font-family: 'Helvetica';
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.5rem;
  text-decoration: none;
  margin-right: 0.6rem;
}


/* HomePage CSS */
/* .intro {
  display: grid;
  margin-left: 6rem;
  margin-top: 2.1rem;
  margin-bottom: 2.1rem;
}

.name {
  margin-bottom: 4.5rem;
}
*/

.profesion {
  line-height: 0.7;
}

.work {
  margin-top:5rem;
}


/* AboutComponent CSS */
/* .titleStyle {
  display: block;
  margin-left: 6rem;
  margin-top: 2.4rem;
} */

.textPresentation {
  display: block;
  margin-top: 1.5rem;
}


/* Contact Component CSS */
.custom-a {
  text-decoration: none;
}

.custom-container {
  margin: 2rem;
}

@media (min-width: 48rem) {
  .custom-container {
    margin-left: 1.5rem; /* Ajoutez la valeur que vous préférez */
  }
}

@media (min-width: 62rem) {
  .custom-container {
    margin-left: 3rem;
  }
}

.button-style {
  background-color:#ff3c00;
  border-color:#ff3c00;
  color: #EDE7DB;
  font-family: 'Helvetica';
  font-size: 1.5rem;
  font-weight: 200;
  margin-top: 2rem;
}

.custom-input {
  height: 4rem;
  width: 30rem;
  background-color: #EDE7DB;
  margin: 1rem;
  border-bottom-color: #ff3c00;
  border-radius:0;
}

.custom-form {
  margin-left: 6rem;
  margin-right: 2rem;
  margin-top: 1rem;
}













