.ligne-horizontale {
    border-bottom: 0.06em solid #EDE7DB;
    margin: 0.8em 0; 
}

.key {
    margin-top:5em;
}
  
.value {
    margin-top:5em;
}

/* .custom-h4 {
    display:grid;
    font-family: 'Poppins';
    font-size: 3.6em;
    color: #EDE7DB;
    font-weight: 500;
    line-height: normal;
    margin-top: auto;
    padding:0.25em;
  } */

.custom-h2 {
    font-family: 'Poppins';
    font-size: 3em;
    color: #EDE7DB;
    font-weight: 600;
}