.custom-h1 {
    font-family: 'Helvetica';
    text-transform: uppercase;
    font-size: 4.5rem;
    color: #ff3c00;
    font-weight: 600;
}

.custom-h2 {
    font-family: 'Helvetica';
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #ff3c00;
    font-weight: 600;
}

.custom-p {
    font-family: 'Helvetica';
    font-size: 3rem;
    font-weight: 600;
    line-height: normal;
    color: #ff3c00;
}

.custom-pV2 {
    font-family: 'Helvetica';
    font-size: 1.5rem;
    font-weight: 200;
    line-height: normal;
    color: #ff3c00;
}


@media (min-width: 48em) {
    .custom-h1 {
        font-size:6rem;
    }
    .custom-h2 {
        font-size: 1.875rem;
    }
}

@media (min-width: 62em) {
    .custom-h1 {
        font-size: 6.75rem;
    }
    .custom-h2 {
        font-size: 2.25rem;
    }
}