body{
    background-color: #EDE7DB;
}

.intro {
    display: grid;
    margin-left: 6rem;
    margin-top: 2.1rem;
    margin-bottom: 2.1rem;
}

.name {
    margin-bottom: 4.5rem;
}

.profession {
    line-height: 0;
}

.openToWork {
    display: flex;
    margin-top: 3rem;
    justify-content: flex-end;
    margin-right: 3rem;
    margin-bottom: 2rem;
}