body {
  background-color: #000000;
  scroll-behavior: smooth;
}

.projets {
  background-color:#EDE7DB;
}

.custom-h1 {
  display: block;
  font-family: 'Poppins';
  font-size: 3.60em;
  color: #EDE7DB;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 2em;
}

.custom-h2 {
  display: block;
  font-family: 'Poppins';
  font-size: 6.870em;
  color: #EDE7DB;
  line-height: 0;
  margin:0;
  font-weight: 600;
  line-height: 1;
}

.custom-h3 {
  font-family: 'Poppins';
  font-size: 2.3em;
  color: #EDE7DB;
  font-weight: 600;
  line-height: normal;
  text-align: right;
  margin-right: 1.95em;
  margin-top: 2em;
}

.custom-p {
  display: grid;
  font-family: 'Poppins';
  font-size: 3em;
  color: #EDE7DB;
  margin-left: 2em;
  text-align:start;
  padding:0.3em;
}

.custom-pv2 {
  font-family: 'Poppins';
  font-size: 3em;
  color: #EDE7DB;
  font-weight: 500;
  line-height: normal;
  margin-top: auto;
  padding:0.25em;
}

.custom-h4 {
  display:grid;
  font-family: 'Poppins';
  font-size: 3.6em;
  color: #EDE7DB;
  font-weight: 500;
  line-height: normal;
  margin-top: auto;
  padding:0.25em;
}

.nav-link-custom {
  color: #EDE7DB;
  font-weight: 1100;
  text-decoration: none;
  padding: 0.5rem; 
}

.ligne-horizontale {
  border-bottom: 0.06em solid #EDE7DB;
  margin: 0.8em 0; 
}

#informations {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.key {
  margin-top:5em;
}

.value {
  margin-top:5em;
}

.intro {
  margin-left: 6em;
  margin-top: 2.1em;
  margin-bottom: 2.1em;
}

.title {
  font-family: 'Poppins';
  color: #EDE7DB;
  font-size: 3.60em;
  font-weight: 700;
}

.cardStyle {
  background-color:#000000;
  color: #EDE7DB;
  width:10em;
}

.img-fluid {
  width: 70%;
  height: auto;
}

.text {
  font-family: 'Arial Black';
  font-size: 3em;
  color: #EDE7DB;
}










